<%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
  <div class="field has-addons">
    <div class="control">
      <%= form.text_field :keyword, placeholder: "Search", class: "input" %>
    </div>
    <div class="control">
      <%= form.submit "Search", class: "button is-info" %>
    </div>
  </div>
<% end %>

<div class="">
  <% @articles.each do |article| %>
    <%= render partial: "article", locals: { article: article } %>
  <% end %>
</div>