<div class="field">
  <%= form_with(model: @article, local: true) do |form| %>
  <p class="title is-1 is-spaced">
    Post
  </p>
  <%= render partial: "form", locals: { form: form } %>
  <% end %>
</div>