  <div class="field">
    <p class="title is-1 is-spaced"><%= @nickname %>'s Post</p>
  </div>

  <% @articles.each do |article| %>
    <%= render partial: "articles/article", locals: { article: article } %>
  <% end %>
