.card,.field {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.control,
.form_margin,.actions {
  margin-bottom: 10px;
}

.center{
  margin: 0 auto;
}
.card {
  height: auto;  /* 高さは自動指定 */
}

.card-image {
  position: relative;
}

#author {
  color: white;
  background-color:rgba(153, 136, 28, 70);
  position: absolute;
  bottom: 0;
  left: 0;
}

#category {
  color: white;
  background-color:rgba(16, 197, 248, 70);
  position: absolute;
  bottom: 0;
  right: 0;
}
