<div class="field">
  <p class="title is-1 is-spaced">Listing all categories</p>

  <% @categories.each do |category| %>
  <li><%= render partial: "category", locals: { category: category } %></li>
  <% end %>

</div>